{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EquiSync Login</title>
</head>
<body>
    
    <div class="login-card">
        <h2>Log In</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
        
        <p>Need an account? <a href="{% url 'signup' %}">Sign up here!</a></p>
        <a href="{% url 'about' %}" class="register-link" style="color: #666; margin-top: 15px; font-size: 0.9em;">Learn about the developer of this project</a>

</body>
</html>