body {
    font-family: Arial, sans-serif; margin: 40px
}

#calendar {
    max-width: 900px; margin: 0 auto;
}

.header-container {
    display: flex; justify-content: space-between; align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}