<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - EquiSync</title>
</head>
<body>
    <h1>Error 404. Page doesn't exist. If it should, notify administrator.</h1>
    <h1>(812)-512-1644 or codyrg0228@gmail.com</h1>
    <div class="error-container">

    <strong>It looks like this link is broken or the page was moved.</strong>
    
    <a href="{% url 'home' %}" class="btn btn-primary">Return to Dashboard</a>
</div>
</body>
</html>