{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>HOME - DASHBOARD</title>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
    <!--style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        #calendar { max-width: 900px; margin: 0 auto; }
        .header-container { display: flex; justify-content: space-between; align-items: center; }
    </style-->
</head>
<body>
    <div class="header-container">
        <h1>DASHBOARD</h1>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </div>
    
    <hr>
    
    <div id='calendar'></div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: '{% url "appointment_api" %}'
        });
        
        calendar.render();
      });
    </script>
</body>
</html>